@use './partials/_header.scss';
@use './partials/_home.scss';
@use './partials/_safety.scss';
@use './partials/_box.scss';
@use './partials/_callout.scss';
@use './partials/_accordion.scss';
@use './partials/_doseCard.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1800px;
  //background: rgb(235, 234, 235);

  @media (max-width: 1400px) {
    width: 750px;
  }
}
