@import "partials/box.scss";
@import "partials/boxContainer.scss";
@import "partials/header.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.4;
  //background: rgb(235, 234, 235);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1800px;

  @media (max-width: 1400px) {
    width: 750px;
  }
}

//VIEWS - HOME
.home-headline-container {
  display: flex;
  justify-content: center;

  h1 {
    padding-top: 50px;
    color: #000000;
  }
}

//VIEWS - kt
.kt-main-container {

  .title-container {

    width: 100%;
    height: 10vh;
    padding-left: 25px;
    background: linear-gradient(120deg, rgb(44, 109, 60), rgb(72, 164, 70));

    .kt-title {
      color: #fff;
      font-size: 50px;
    }
  
    .kt-subTitle {
      color: #fff;
      font-size: 26px;
    }

  }

  .text-container {
    width: 100%;
    height: 90vh;
    padding: 30px;
    background-color: #fff;
    color: #000000;
    
    &-item {
      display: flex;
      margin-bottom: 50px;

      &-title {
        width: 300px;
        font-weight: 500;
        padding-right: 50px;
      }

      &-list {
        width: 900px;

        li {
          list-style-type: none;
          padding-bottom: 10px;

          &::before{
            content: "\2212";
            color: rgb(72, 164, 70);
          }
        }  

        &-sublist {
          
          li {
            padding-left: 15px;

            &::before {
              content: "\2022";
              color: rgb(44, 109, 60);
            }
          }
        }
        
      }    

    }
  }

}