@use './partials/_header.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1800px;
  //background: rgb(235, 234, 235);

  @media (max-width: 1400px) {
    width: 750px;
  }
}

//VIEWS - HOME
.home-headline-container {
  display: flex;
  justify-content: center;

  h1 {
    padding-top: 50px;
    color: black;
  }
}

//VIEWS - kt
.kt-main-container {

  .title-container {
    width: 100%;
    height: 120px;
    padding-left: 25px;
    background: linear-gradient(120deg, rgb(44, 109, 60), rgb(72, 164, 70));

    .kt-title {
      color: #fff;
      font-size: 50px;
    }
  
    .kt-subTitle {
      color: #fff;
      font-size: 26px;
    }

  }

  .text-container {
    width: 100%;
    padding: 30px;
    background-color: #fff;
    color: #000000;
    
    &-item {
      display: flex;
      margin-bottom: 50px;

      &-title {
        width: 300px;
        font-weight: 500;
        padding-right: 50px;
      }

      &-list {
        width: 900px;

        li {
          list-style-type: none;
          padding-bottom: 10px;

          &::before{
            content: "\2212";
            color: rgb(72, 164, 70);
          }

        }  

        &-sublist {
          
          li {
            padding-left: 15px;

            &::before {
              content: "\2022";
              color: rgb(44, 109, 60);
            }
          }

        }
        
      }    

    }

  }

}

//PARTIALS - HEADER
// .header-nav {
//   height: 100px;
//   width: 100%;
//   background: linear-gradient(120deg, rgb(44, 109, 60), rgb(72, 164, 70));
//   color: #fff;
//   display: flex;
//   align-items: center;
    
//   h2 {
//     padding: 5px 25px;

//     a {
//       text-decoration: none;
//       color: #fff;
//     }
    
//   }
    
//   .header-ul {
//     display: flex;
//     margin-left: auto;
//     list-style-type: none;
    
//     li {
//       padding: 5px 10px;
    
//       &:nth-child(3){
//         padding-right: 25px;
//       }
    
//       a {
//         text-decoration: none;
//         color: #fff;
//       }

//     }
    
//   }
    
// }

//PARTIALS - BOX
.main-box-container {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  @media (max-width: 1400px) {
    flex-direction: column;
  }

  .box {
    height: 280px;
    width: 317px;
    //top, left, bottom, right
    padding: 20px 10px 10px 10px;
    border: 1px solid rgb(190, 190, 190);

    @media (max-width: 1400px) {
      height: 275px;
      width: 325px;
    }

    &-content {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 3fr;
      height: 100%;
      width: 100%;
    
      &-icon {
        img {
          padding-left: 5px;
        }
      } 

      &-text {
      
        &-headline {
          font-weight: 600;
          font-size: 18px;
        }

        &-body {
          font-weight: 300;
          font-size: 16px;
          padding-top: 15px;
          padding-right: 10px;
        }
      
        &-link {
          padding-top: 10px;
          display: flex;
          align-items: center;
        
          a {
            text-decoration: none;
            color: indigo;
            font-size: 14px;
          }
        
          img {
            padding-left: 5px;
          }

        }

      }
  
    }

  }

}

//PARTIAL - CALLOUT
.callout-wrapper {
  margin: 25px auto;

  .callout-container {
    height: 150px;
    width: 900px;
    border: 1px solid green;
    border-radius: 8px;
    box-shadow: 5px 5px rgb(54, 134, 74),
     10px 10px rgb(0, 110, 173);
    padding: 40px;
    display: flex;
    align-items: center;

    @media (max-width: 1400px) {
      width: 600px;
    }
  
    &-icon {
      padding-right: 25px;
    }
  
    &-text {
      font-weight: 400;
      font-size: 20px;

      @media (max-width: 1400px) {
        font-size: 16px;
      }
    }
  
  }

}

//PARTIAL - ACCORDION
.accordion-wrapper {
  margin: 15px auto;

  //hides checkbox
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .row {
    display:flex;
    padding: 5px;
    .col {
      flex:1;
    }
  }

  .tabs {
    overflow: hidden;
  }
  
  .tab {
    width: 900px;
    color: #000000;
    overflow: hidden;

    @media (max-width: 1400px) {
      width: 600px;
    }

    &-label {
      display: flex;
      padding: 1em;
      border: 1px solid #000000;
      background: #fff;
      font-weight: bold;
      cursor: pointer;

      &-headlines {
        display: flex;
        flex-direction: column;

        p {
          padding-left: 20px;
        }

        p:first-of-type {
          font-weight: 600;
        }

        p:nth-of-type(2) {
          font-size: 14px;
          font-weight: 300;
        }
      }

      &::before {
        //content: "\2795";
        content: "+";
        font-size: 32px;
        color: #9288e8;
      }

      &:hover {
        background: darken(#fff, 5%);
      }

    }

    &-content {
      max-height: 0;
      padding: 0 1em;
      color: #000000;
      background: white;
      transition: all .35s;
      
      &-container {
        display: flex;
        flex-direction: column;

        h4 {
          font-weight: 600;
          padding-bottom: 5px;
        }

        p {
          font-weight: 300;
        }
      }
    }

  }

  // :checked
  input:checked {
  + .tab-label {
    background: darken(#fff, 5%);
    border: 1px solid #000000;

    &::before {
      //content: "\2796";
      content: "-";
      font-size: 32px;
      color: #9288e8;
    }
      
  }
  
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }

}

}

//PARTIALS - doseCard
.doseCard-container {

  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
  }

  .doseCard-item {
    height: 225px;
    width: 350px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 8px;
    position: relative;

    @media (max-width: 1400px) {
      &:nth-child(2) {
        margin-top: 50px;
      }
      &:nth-child(3) {
        margin-top: 50px;
      }
      
    }
  
    .icon-container {
      height: 90px;
      width: 90px;
      border-radius: 50px;
      border: 1px solid rgb(190, 190, 190);
      background-color: #fff;
      position: absolute;
      top: -45px;
      left: 135px;
      display: flex;
      justify-content: center; 

      img {
        height: 46px;
        width: 46px;
        margin-top: 15px;
        // padding-top: px;
      }
    }

    .content-container {
      padding-top: 55px;
      padding-left: 10px;
      padding-right: 10px;

      &-option {
        font-size: 14px;
        font-weight: 500;
      }

      &-dose {
        font-size: 12px;
        padding-top: 10px;
      }

      &-notes {
        font-size: 12px;
        padding-top: 5px;
      }
    }

  }

}
