<div class="accordion-wrapper">

    <div class="row">
        <div class="col">
            <div class="tabs">
            <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">
                    <div class="tab-label-headlines">
                        <p>Melanoma</p>
                        <p>Advanced Melanoma or Adjuvant Therapy</p>
                    </div>
                </label>
                <div class="tab-content">
                    <div class="tab-content-container">
                        <h4>Advanced Melanoma</h4>
                        <p>KEYTRUDA is indicated for the treatment of patients with unresectable or metastatic melanoma.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="tabs">
            <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">
                      <div class="tab-label-headlines">
                        <p>Non-Small Cell Lung Cancer (NSCLC)</p>
                        <p>Advanced</p>
                    </div>
                </label>
                <div class="tab-content">
                     <div class="tab-content-container">
                        <h4>First-line Combination Therapy in Nonsquamous mNSCLC</h4>
                        <p>KEYTRUDA, in combination with pemetrexed and platinum chemotherapy, is indicated for the first-line treatment of patients with metastatic nonsquamous non⁠–⁠small cell lung cancer (NSCLC), with no epidermal growth factor receptor (EGFR) or anaplastic lymphoma kinase (ALK) genomic tumor aberrations.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

      <div class="row">
        <div class="col">
            <div class="tabs">
            <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" for="chck3">
                      <div class="tab-label-headlines">
                        <p>Head and Neck Squamous Cell Carcinoma (HNSCC)</p>
                        <p>Metastatic or Unresectable, Recurrent</p>
                    </div>
                </label>
                <div class="tab-content">
                     <div class="tab-content-container">
                        <h4>First-line Combination Therapy in Metastatic or Unresectable, Recurrent HNSCC</h4>
                        <p>KEYTRUDA, in combination with platinum and fluorouracil (FU), is indicated for the first-line treatment of patients with metastatic or with unresectable, recurrent head and neck squamous cell carcinoma (HNSCC).</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
