<div class="main-box-container">

    <div class="box">
        <div class="box-content">
            <div class="box-content-icon">
                <img src="monitor.png" alt='monitor'/>
            </div>
            <div class="box-content-text">
                <div class="box-content-text-headline">
                    Monitoring & Managing Adverse Reactions
                </div>
                <div class="box-content-text-body">
                    Information about immune-mediated and other reactions in patients.
                </div>
                <div class="box-content-text-link">
                    <a href="#">View More Information 

                    </a>
                     <img src="arrow_right.png" alt="arrow-right" />
                </div>
            </div>
        </div>
    </div>

        <div class="box">
        <div class="box-content">
            <div class="box-content-icon">
                <img src="clipboard.png" alt='clipboard'/>
            </div>
            <div class="box-content-text">
                <div class="box-content-text-headline">
                    Patient Access & Reimbursement Support
                </div>
                <div class="box-content-text-body">
                    Our Program may help answer questions about billing and coding for our medication as well as co-pay assistance for eligable patients.
                </div>
                <div class="box-content-text-link">
                    <a href="#">Learn More</a>
                     <img src="arrow_right.png" alt="arrow-right" />
                </div>
            </div>
        </div>
    </div>

       <div class="box">
        <div class="box-content">
            <div class="box-content-icon">
                <img src="file.png" alt='file'/>
            </div>
            <div class="box-content-text">
                <div class="box-content-text-headline">
                    Dosing & Information
                </div>
                <div class="box-content-text-body">
                    Information on preparation, storage, administration, and dosing modifications.
                </div>
                <div class="box-content-text-link">
                    <a href="#">View Dosing Details
                    </a>
                     <img src="arrow_right.png" alt="arrow-right" />
                </div>
            </div>
        </div>
    </div>

</div>