<div class="main-box-container">
    <div class="box">
        <div class="box-content">
            <div class="box-content-icon">
                <img src="clipboard.png" alt='clipboard'/>
            </div>
            <div class="box-content-text">
                <div class="box-content-text-headline">
                    Monitoring & Managing Adverse Reactions
                </div>
                <div class="box-content-text-body">
                    Information about immune-mediated and other reactions in patients.
                </div>
                <div class="box-content-text-link">
                    <a href="#">View More Information 
                        <img src="arrow_right.png" alt="arrow-right" />
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="box">2</div>
    <div class="box">3</div>
</div>