<div class="callout-wrapper">
    <div class="callout-container">
        <div class="callout-container-icon">
            <img src="key.png"/>
        </div>
        <p class="callout-container-text">
            Preparation of KEYTRUDA is the same regardless of fixed or weight-based dosing
        </p>
    </div>
</div>

