<div class="doseCard-container">

    <div class="doseCard-item">
        <div class="icon-container">

        </div>
        <div class="content-container">
            <p class="content-container-option">
                {{itemOne.option}}
            </p>
            <p class="content-container-dose">
                {{itemOne.dose}}
            </p>
            <p class="content-container-notes">
                {{itemOne.notes}}
            </p>
        </div>
    </div>

    <div class="doseCard-item">
        <div class="icon-container">

        </div>
    </div>

    <div class="doseCard-item">
        <div class="icon-container">

        </div>
    </div>

</div>
