<nav class="header-nav">
    <h2>Welcome</h2>
    <ul class="header-ul">
        <li>
            <h4>Dosing</h4>
        </li>
        <li>
            <h4>Efficacy</h4>
        </li>
        <li>
            <h4>Safety</h4>
        </li>
    </ul>
</nav>