<nav class="header-nav">
    <h2><a href="/">Welcome</a></h2>
    <ul class="header-ul">
        <li>
            <a href="/dosing"><h4>Dosing</h4></a>
        </li>
        <li>
            <a href="/efficacy"><h4>Efficacy</h4></a>
        </li>
        <li>
            <a href="/safety"><h4>Safety</h4></a>
        </li>
    </ul>
</nav>