.main-box-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1400px) {
  .main-box-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-box-container .box {
  height: 300px;
  width: 350px;
  border: 1px solid #bebebe;
}

@media (max-width: 1400px) {
  .main-box-container .box {
    height: 275px;
    width: 325px;
  }
}

.main-box-container .box-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  height: 100%;
  width: 100%;
}

.main-box-container .box-content-icon img {
  padding-top: 15px;
  padding-left: 15px;
}

.main-box-container .box-content-text {
  padding-top: 15px;
  padding-right: 10px;
}

.main-box-container .box-content-text-headline {
  font-weight: 600;
  font-size: 18px;
}

.main-box-container .box-content-text-body {
  font-weight: normal;
  font-size: 16px;
  padding-top: 15px;
  padding-right: 10px;
}

.main-box-container .box-content-text-link {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-box-container .box-content-text-link a {
  text-decoration: none;
  color: indigo;
  font-size: 14px;
}

.main-box-container .box-content-text-link img {
  padding-left: 5px;
}

.boxContainer-wrapper {
  height: 500px;
  width: 1400px;
  margin: 50px auto;
  background-color: #fff;
}

@media (max-width: 1400px) {
  .boxContainer-wrapper {
    width: 450px;
    height: 1000px;
  }
}

.header-nav {
  height: 100px;
  width: 100%;
  background: #eaafc8;
  background: -webkit-gradient(linear, left top, right top, from(#eaafc8), to(#654ea3));
  background: linear-gradient(to right, #eaafc8, #654ea3);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav h2 {
  padding: 5px 25px;
}

.header-nav .header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style-type: none;
}

.header-nav .header-ul li {
  padding: 5px 10px;
}

.header-nav .header-ul li:nth-child(3) {
  padding-right: 25px;
}

.header-nav .header-ul li a {
  text-decoration: none;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1800px;
}

@media (max-width: 1400px) {
  body {
    width: 750px;
  }
}

.home-headline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-headline-container h1 {
  padding-top: 50px;
  color: #000000;
}

.kt-main-container .title-container {
  width: 100%;
  height: 10vh;
  padding-left: 25px;
  background: linear-gradient(120deg, #2c6d3c, #48a446);
}

.kt-main-container .title-container .kt-title {
  color: #fff;
  font-size: 50px;
}

.kt-main-container .title-container .kt-subTitle {
  color: #fff;
  font-size: 26px;
}

.kt-main-container .text-container {
  width: 100%;
  height: 90vh;
  padding: 30px;
  background-color: #fff;
  color: #000000;
}

.kt-main-container .text-container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.kt-main-container .text-container-item-title {
  width: 300px;
  font-weight: 500;
  padding-right: 50px;
}

.kt-main-container .text-container-item-list {
  width: 900px;
}

.kt-main-container .text-container-item-list li {
  list-style-type: none;
  padding-bottom: 10px;
}

.kt-main-container .text-container-item-list li::before {
  content: "\2212";
  color: #48a446;
}

.kt-main-container .text-container-item-list-sublist li {
  padding-left: 15px;
}

.kt-main-container .text-container-item-list-sublist li::before {
  content: "\2022";
  color: #2c6d3c;
}
/*# sourceMappingURL=main.css.map */