.callout-wrapper {
    margin: 25px auto;
  
    .callout-container {
      height: 150px;
      width: 900px;
      border: 1px solid green;
      border-radius: 8px;
      box-shadow: 5px 5px rgb(54, 134, 74),
       10px 10px rgb(0, 110, 173);
      padding: 40px;
      display: flex;
      align-items: center;
  
      @media (max-width: 1400px) {
        width: 600px;
      }
    
      &-icon {
        padding-right: 25px;
      }
    
      &-text {
        font-weight: 400;
        font-size: 20px;
  
        @media (max-width: 1400px) {
          font-size: 16px;
        }
      }
    
    }
  
}