.header-nav {
    height: 100px;
    width: 100%;
    background: linear-gradient(120deg, rgb(44, 109, 60), rgb(72, 164, 70));
    color: #fff;
    display: flex;
    align-items: center;
      
    h2 {
      padding: 5px 25px;
  
      a {
        text-decoration: none;
        color: #fff;
      }
      
    }
      
    .header-ul {
      display: flex;
      margin-left: auto;
      list-style-type: none;
      
      li {
        padding: 5px 10px;
      
        &:nth-child(3){
          padding-right: 25px;
        }
      
        a {
          text-decoration: none;
          color: #fff;
        }
  
      }
      
    }
      
  }